<header class="wrapper column full-center">
  <img src="assets/images/oc-logo.svg" alt="uwu logo" class="logo" />

  <!--  <div class="search-icon">
    <i class="pi pi-search" style="color: 'var(--primary-color)'"></i>
  </div> -->

  <div class="row gap-1">
    <nav class="row gap-1">
      <a
        routerLink="/"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
        >Home</a
      >
      <a routerLink="/about-us" routerLinkActive="active">About</a>
      <!--      <a routerLink="/contact" routerLinkActive="active">Contact</a> -->
    </nav>
  </div>
</header>
